.loaderWrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.loader {
    background-color: #a1ce7a;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    border: 4px solid green;
    top: 0%;
    animation: loader 2s infinite ease;
}

.loaderInner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}
.header {
    width: 100%;
    height: 46px;
    position: fixed;
    top: 0px;
    background-color: #4b8c61;
    z-index: 1;
}
.temp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropDown {
    display: block;
    width: 180px;
    float: right;
    display: flex;
    align-items: center;
    height: 46px;
}
.dropDown:hover {
    cursor: pointer;
}
.dropDownTitle {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
.headerHomeTitle {
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
.dropDownImg {
    height: 34px;
    margin-right: 8px;
}
.dropDownImg img {
    height: 34px;
    border-radius: 50%;
}
.headerDropDown {
    background-color: transparent;
    border: none;
    float: right;
    display: block;
}
.headerDropDown:hover {
    background-color: #4b8c61;
    color: #fff;
}
.headerDropDown:active {
    background-color: #4b8c61;
    color: #fff;
}
.primary-button {
    margin-right: 8px !important;
}
.delete-button {
    float: right !important;
}
.taskListSelect {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    font-size: 18px;
    text-align: center;
    align-items: center;
    padding-left: 0px;
    position: relative;
}
.taskListSelect li {
    padding: 8px 12px;
    border: 2px solid #4b8c61;
    border-radius: 8px;
}
.nowDisplay {
    color: #fff;
    background-color: #4b8c61;
}
.taskListSelect li a {
}
.add-task-button {
    text-decoration: none;
    color: #000;
    right: 0px !important;
    font-size: 18px;
    padding: 8px 12px;
    font-weight: 600;
    // color: #12ad2a;
    color: #4b8c61;
    cursor: pointer;
}
.add-task-button:hover {
    opacity: 0.8;
}
.add-task-button span {
    margin-right: 12px;
}
.home-header {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    z-index: 1;
}
.backgroudWrapper {
    margin-top: 46px;
    width: 100%;
}
.backgroundImage {
    object-fit: contain;
    width: 100%;
}
.titleWrapper {
    position: absolute;
    left: 45%;
    text-align: center;
    top: 60%;
}
.titleWrapper h3 {
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    color: #4b8c61;
}
.titleWrapper p {
    font-family: 'Merriweather', sans-serif;
    font-size: 24px;
    color: #a1ce7a;
}
.homeFilterWrapper {
    position: relative;
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #aad187;
    border-radius: 10px;
}
.textFilterWrapper {
    display: block;
}
.selectFilterWrapper {
    display: block;
}
.filterLabel {
    font-size: 18px;
    margin-right: 8px;
}
.filterMonthInput {
    margin-right: 12px;
}
.filterMonthReset {
    border: none;
    background-color: #fff;
}
.primary-button {
    color: #fff;
    background-color: #aad187;
}
.primary-button:hover {
    color: #fff;
    background-color: #aad187;
    opacity: 0.8;
}
.homeFooter {
    width: 100%;
    background-color: #ccc;
    height: 200px;
    margin-top: 100px;
    text-align: center;
    bottom: 0px;
}
.footerWrapper {
    padding-top: 70px;
}
.footerTitle {
}
.footerTitle {
}
.footerContactItem {
    text-decoration: none;
    color: #000;
    margin: 0px 4px;
    cursor: pointer;
    font-family: 'Helvetica Neue', Helvetica, Arial;
}
.footerContactItem :hover {
    opacity: 0.8;
}
.footerContactItem svg {
    font-size: 32px;
}
//Responsive cho table
@media (min-width: 740px) and (max-width: 1023px) {
    .titleWrapper {
        display: none;
    }
    .homeFilterWrapper {
        display: block;
    }
}
@media (max-width: 739px) {
    .titleWrapper {
        display: none;
    }
    .homeFilterWrapper {
        display: block;
    }
    .footerWrapper p {
        font-size: 12px;
    }
    .primary-button {
        margin-bottom: 4px;
    }
    .update-button {
        float: right;
        margin-right: 0px !important;
    }
    .add-task-button {
        position: relative;
        flex: 1;
    }
}
